body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DDEAD7;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
}

.logo {
    width: 100px;
    height: auto;
}
.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.button-container {
    display: flex;
    justify-content: space-evenly;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
}
.button {
    background-color: #DDEAD7;
    color: #000000;
margin-top: 175px;
    font-size: xx-large;
    text-align: center;

    font-weight: bold;
    cursor: pointer;
}
a{
    
    text-decoration: none;
}
.div1{
    width: 300px;
    height: 300px;
    margin-top: 65px;
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 1px;
}

.buttonadmin {
    width: 350px;
    height: 400px;
    background-color: #DDEAD7;
    color: #000000;
    size: 50px;
    font-size: xx-large;
    text-align: center;
    line-height: 400px;
    font-weight: bold;
    cursor: pointer;
}

.button-container2{
    display: flex;
    justify-content: space-evenly;
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 100px;
}

.A{
    background-color: white;
    color: #000000;
    font-weight: bold;
    font-size: 16px;
}

.div2{
    width: 300px;
    height: 300px;
    margin-top: 15px;
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 1px;
}