html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../../ressources/image/Admin.png');
    background-repeat: no-repeat;
   
    background-position: center;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #40798c;
}

.logo {
    width: 100px;
    height: auto;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
}

a {
    text-decoration: none;
}

.buttonadmin {
    width: 350px;
    height: 400px;
    background-color: #40798c;
    color: #ffffff;
    size: 50px;
    font-size: xx-large;
    text-align: center;
    line-height: 400px;
    font-weight: bold;
    cursor: pointer;
}

.bC {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: calc(100vh - 150px);
}

.button {
    margin-top: 150px;
    background-color: #40798c;
    color: #ffffff;
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 200px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 4px solid rgb(255, 255, 255);
}

.div1 {
    display: flex;
    justify-content: center;
}

.Fond {
    background-image: url('../../ressources/image/Eleve.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ARM{
    transition: transform 0.5s ease;
}

.ARM:hover{
    transform:scale(1.2);
}
