body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #A6C9C5;
}

.logo {
    width: 100px;
    height: auto;
}
.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.button-container {
    display: flex;
    justify-content: space-evenly;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
}
.button {
    background-color: #A6C9C5;
    color: #000000;
margin-top: 175px;
    font-size: xx-large;
    text-align: center;

    font-weight: bold;
    cursor: pointer;
}
a{
    
    text-decoration: none;
}
.div1{
    width: 350px;
    height: 400px;
    margin-top: 50px;
    background-color: #A6C9C5;
    display: flex;
    justify-content: center;
}
hr {
    height: 2px; 
    background-color: #000000; 
    margin-top: 90px; 
    margin-bottom: 20px; 
    width: 400px;
}
.buttonadmin {
    width: 350px;
    height: 400px;
    background-color: #A6C9C5;
    color: #000000;
    size: 50px;
    font-size: xx-large;
    text-align: center;
    line-height: 400px;
    font-weight: bold;
    cursor: pointer;
}
.div2{
   
    width: 350px;
    height: 400px;
    margin-top: 120px;
    background-color: #A6C9C5;
    display: flex;
    justify-content: center;
}